In [86]:
import pandas as pd
import numpy as np

In [87]:
data = pd.read_csv('chipotle.tsv',sep='\t')
print(data)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [88]:
df = data.copy()
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

# 1. Missing Values:-

In [89]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [90]:
df['choice_description'] = df.choice_description.fillna("No Description Available")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# 2. Data Types:-

In [91]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 3. Duplicated Entries

In [93]:
# Finding and Deleting the Duplicates.
print(df.duplicated().sum())
df.drop_duplicates()

# Reassigning results to a new variable
df_duplicate = df.drop_duplicates()
# modifying the current dataframe
df.drop_duplicates(inplace=True)
print(df)

59
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                              No Description Available     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                              No Description Available     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4563 rows x 5 columns]

# 4. Quantity and Item Price

* Examining the Qunaitty and Item Price

In [94]:
print("Quantity")
print(df['quantity'].value_counts())
print("\nItem Price")
print(df['item_price'].value_counts())
print("\nItem Price")
print(df['item_price'].unique())

Quantity
1     4296
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: quantity, dtype: int64

Item Price
$8.75      719
$11.25     516
$9.25      395
$4.45      344
$8.49      308
          ...
$13.35       1
$7.50        1
$4.36        1
$32.94       1
$11.49       1
Name: item_price, Length: 78, dtype: int64

Item Price
['$2.39 ' '$3.39 ' '$16.98 ' '$10.98 ' '$1.69 ' '$11.75 ' '$9.25 '
 '$4.45 ' '$8.75 ' '$11.25 ' '$8.49 ' '$2.18 ' '$8.99 ' '$1.09 ' '$2.95 '
 '$2.15 ' '$3.99 ' '$22.50 ' '$11.48 ' '$17.98 ' '$17.50 ' '$4.30 '
 '$5.90 ' '$1.25 ' '$23.78 ' '$6.49 ' '$11.08 ' '$1.50 ' '$22.16 '
 '$32.94 ' '$22.20 ' '$10.58 ' '$2.50 ' '$23.50 ' '$7.40 ' '$18.50 '
 '$3.00 ' '$6.78 ' '$11.89 ' '$9.39 ' '$4.00 ' '$3.75 ' '$8.69 ' '$2.29 '
 '$8.90 ' '$3.27 ' '$3.89 ' '$8.19 ' '$35.00 ' '$27.75 ' '$11.80 '
 '$6.00 ' '$26.25 ' '$21.96 ' '$4.36 ' '$7.50 ' '$4.78 ' '$13.35 '
 '$6.45 ' '$5.07 ' '$22.96 ' '$7.17 ' '$7.98 ' '$4.50 ' '$26.07 '
 '$12.98 ' '$35.25 ' '$44.25 ' '$10.50 ' '$33.75 ' '$16.38 ' '$13.52 '
 '$5.00 ' '$15.00 ' '$8.50 ' '$17.80 ' '$1.99 ' '$11.49 ']

# 5.Choice Description

In [95]:
df.choice_description

0                                No Description Available
1                                            [Clementine]
2                                                 [Apple]
3                                No Description Available
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4563, dtype: object

In [96]:
print(df['choice_description'].value_counts())

No Description Available                                                                                                                         1228
[Diet Coke]                                                                                                                                       133
[Coke]                                                                                                                                            115
[Sprite]                                                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                             41
                                                                                                                                                 ...
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Guacamole, Rice, Fajita Vegetables]]                                                             1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                          1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]       1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                               1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                    1
Name: choice_description, Length: 1044, dtype: int64

In [97]:
df['choice_description']= df['choice_description'].str.replace(r'\[|\]', '').str.split(', ').apply(', '.join)
df

C:\Users\Aman\AppData\Local\Temp\ipykernel_15964\3644169914.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['choice_description']= df['choice_description'].str.replace(r'\[|\]', '').str.split(', ').apply(', '.join)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

# 6. Handling Special Characters

In [98]:
df['item_name'] = df['item_name'].replace('[-]'," ",regex=True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

# 7. Order Id Integrity:-

In [99]:
order_id_integrity = df['order_id'].value_counts()
# Order Id for the single item
print("Order Id's with Single Item: ")
Single_Item = order_id_integrity[order_id_integrity==1]
print(Single_Item)
# Order Id for multiple items
print("Order Id's with Multiple Item: ")
Multiple_Item = order_id_integrity[order_id_integrity>1]
print(Multiple_Item)

Order Id's with Single Item:
228     1
1146    1
229     1
1174    1
1295    1
       ..
94      1
1374    1
837     1
831     1
528     1
Name: order_id, Length: 135, dtype: int64
Order Id's with Multiple Item:
926     21
1483    14
1786    11
759     11
691     11
        ..
273      2
274      2
275      2
1034     2
1119     2
Name: order_id, Length: 1699, dtype: int64

# 8. Item Name Standardization:-

* Standardizing the Item Name Column by removing the white spaces.

In [100]:
df['item_name'] = df['item_name'].str.strip()
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

# 9. Quantity and Price Relationship:-

In [101]:
quantity_price_relationship = df.groupby(['quantity'])['item_price'].unique()
quantity_price_relationship

quantity
1     [$2.39 , $3.39 , $10.98 , $1.69 , $11.75 , $9....
2     [$16.98 , $2.18 , $22.50 , $17.98 , $17.50 , $...
3     [$32.94 , $22.20 , $3.75 , $3.27 , $27.75 , $2...
4     [$35.00 , $11.80 , $6.00 , $4.36 , $5.00 , $17...
5                                              [$7.50 ]
7                                             [$10.50 ]
8                                             [$13.52 ]
10                                            [$15.00 ]
15                                            [$44.25 ]
Name: item_price, dtype: object

# 10. Data Integrity Check:-

In [102]:
data_integrity_check = df.groupby(['item_name','choice_description'])['quantity','item_price'].nunique()
data_integrity_check

C:\Users\Aman\AppData\Local\Temp\ipykernel_15964\2629922555.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_integrity_check = df.groupby(['item_name','choice_description'])['quantity','item_price'].nunique()

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink Coke                                                       1
                  Diet Coke                                                  2
                  Lemonade                                                   1
                  Nestea                                                     1
                  Sprite                                                     1
...                                                                        ...
Veggie Soft Tacos Fresh Tomato Salsa, Black Beans, Cheese, Sour C...         1
                  Fresh Tomato Salsa, Fajita Vegetables, Rice, Bl...         1
                  Roasted Chili Corn Salsa (Medium), Black Beans,...         1
                  Roasted Chili Corn Salsa, Fajita Vegetables, Bl...         1
                  Tomatillo Red Chili Salsa, Fajita Vegetables, R...         1

                                                                      item_price
item_name         choice_description
6 Pack Soft Drink Coke                                                         1
                  Diet Coke                                                    2
                  Lemonade                                                     1
                  Nestea                                                       1
                  Sprite                                                       1
...                                                                          ...
Veggie Soft Tacos Fresh Tomato Salsa, Black Beans, Cheese, Sour C...           1
                  Fresh Tomato Salsa, Fajita Vegetables, Rice, Bl...           1
                  Roasted Chili Corn Salsa (Medium), Black Beans,...           1
                  Roasted Chili Corn Salsa, Fajita Vegetables, Bl...           1
                  Tomatillo Red Chili Salsa, Fajita Vegetables, R...           1

[1868 rows x 2 columns]

# 11. Handling Categorical Data:-

In [103]:
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                              No Description Available     $2.39
1                                            Clementine     $3.39
2                                                 Apple     $3.39
3                              No Description Available     $2.39
4     Tomatillo-Red Chili Salsa (Hot), Black Beans, ...    $16.98
...                                                 ...        ...
4617  Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...    $11.75
4618  Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...    $11.75
4619  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...    $11.25
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce     $8.75
4621  Fresh Tomato Salsa, Fajita Vegetables, Pinto B...     $8.75

[4563 rows x 5 columns]

# 12. Consistent Quantity and Price Unit:-

In [104]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Description Available,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,No Description Available,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",$11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",$11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",$8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",$8.75

# 13. Converting to CSV:-

In [105]:
df.to_csv("Chipotle.csv",sep=",")